<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=DynaPuff&family=Red+Hat+Display&display=swap" rel="stylesheet">
  <title>About Us</title>
</head>
</html>
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="CHP Logo"
    src="../assets/images/transparent_logo.png"
  />
  <span>Hi, campers!</span>
  <div class="spacer"></div>
  <!--Hyper links to other pages -->
  <div>
    <ul class="navbar" style="display: inline-block">
      <li><a routerLink="" routerLinkActive="active">Home</a> </li>
      <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/merch" routerLinkActive="active">Merch</a></li>
      <li><a routerLink="/quizzes" routerLinkActive="active">Quizzes</a></li>
      <li><a routerLink="/memes" routerLinkActive="active">Memes</a></li>
    </ul>
  </div>
  <!-- Social media hyperlinks -->
  <a aria-label="CHP Twitter" target="_blank" rel="noopener" href="https://twitter.com/camphalfpod" title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <rect width="400" height="400" fill="none"/>
      <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
    </svg>
  </a>
  <a aria-label="CHP on Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/camphalfpod/?hl=en" title="Instagram">
    <svg id="instagram-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path d="M16.98 0a6.9 6.9 0 0 1 5.08 1.98A6.94 6.94 0 0 1 24 7.02v9.96c0 2.08-.68 3.87-1.98 5.13A7.14 7.14 0 0 1 16.94 24H7.06a7.06 7.06 0 0 1-5.03-1.89A6.96 6.96 0 0 1 0 16.94V7.02C0 2.8 2.8 0 7.02 0h9.96zm.05 2.23H7.06c-1.45 0-2.7.43-3.53 1.25a4.82 4.82 0 0 0-1.3 3.54v9.92c0 1.5.43 2.7 1.3 3.58a5 5 0 0 0 3.53 1.25h9.88a5 5 0 0 0 3.53-1.25 4.73 4.73 0 0 0 1.4-3.54V7.02a5 5 0 0 0-1.3-3.49 4.82 4.82 0 0 0-3.54-1.3zM12 5.76c3.39 0 6.2 2.8 6.2 6.2a6.2 6.2 0 0 1-12.4 0 6.2 6.2 0 0 1 6.2-6.2zm0 2.22a3.99 3.99 0 0 0-3.97 3.97A3.99 3.99 0 0 0 12 15.92a3.99 3.99 0 0 0 3.97-3.97A3.99 3.99 0 0 0 12 7.98zm6.44-3.77a1.4 1.4 0 1 1 0 2.8 1.4 1.4 0 0 1 0-2.8z" fill="#fff"/>
    </svg>
  </a>
  <a aria-label="CHP on Email" target="_blank" rel="noopener" href="mailto: camphalfpod@gmail.com" title="Email">
    <svg id="email-logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline> </svg></a>
</div>

<div class="content" role="main">
<h1>We've got merch!</h1>
  <h2>Find our full shop on <a href="https://www.zazzle.com/store/camphalfpod" class="Zazzle">Zazzle</a> </h2>
</div>

<div class="gallery">
  <a aria-label="CHP_mug" target="_blank" rel="noopener" href="https://www.zazzle.com/camp_half_pod_mug-168074699775172361" title="CHP_mug">
    <img src="/assets/Zazzle/CHP_mug.png" alt="Img_1">
  </a>
  <a aria-label="CHP_pen" target="_blank" rel="noopener" href="https://www.zazzle.com/riptide_pen-256021476764932087" title="CHP_pen">
    <img src="/assets/Zazzle/CHP_pen.JPG" alt="Img_2">
  </a>
  <a aria-label="CHP_shirt" target="_blank" rel="noopener" href="https://www.zazzle.com/camp_half_pod_shirt-235086407491388458" title="CHP_shirt">
    <img src="/assets/Zazzle/CHP_shirt.JPG" alt="Img_3">
  </a>
  <a aria-label="CHP_sticker" target="_blank" rel="noopener" href="https://www.zazzle.com/camp_half_pod_sticker-256407211059711721" title="CHP_sticker">
    <img src="/assets/Zazzle/CHP_sticker.JPG" alt="Img_4">
  </a>
  <a aria-label="Claire's" target="_blank" rel="noopener" href="https://www.zazzle.com/minotaur_sticker-256880678266707244" title="Claire's">
    <img src="/assets/Zazzle/Claires.png" alt="Img_5">
  </a>
  <a aria-label="Seaweed_brain" target="_blank" rel="noopener" href="https://www.zazzle.com/seaweed_brain_hat-233247494470136108" title="Seaweed_brain">
    <img src="/assets/Zazzle/Seaweed_brain.png" alt="Img_6">
  </a>
  <a aria-label="hell_hound" target="_blank" rel="noopener" href="https://www.zazzle.com/actually_a_hellhound_dog_bandana-256869368090080886" title="hell_hound">
    <img src="/assets/Zazzle/hell_hound.JPG" alt="Img_7">
  </a>
  <a aria-label="wise_girl" target="_blank" rel="noopener" href="https://www.zazzle.com/wise_girl_hat-233164267037977697" title="wise_girl">
    <img src="/assets/Zazzle/wise_girl.png" alt="Img_8">
  </a>
  <a aria-label="atlas" target="_blank" rel="noopener" href="https://www.zazzle.com/id_hold_up_the_sky_for_you_greeting_card-256383277428914997" title="atlas">
    <img src="/assets/Zazzle/Atlas_sticker.JPG" alt="Img_9">
  </a>
</div>
